In [53]:
import pandas as pd
import numpy as np

In [42]:
df_books = pd.read_csv('/home/brengaba/pandas_numpy/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv')

In [43]:
df_books

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [44]:
df_books.drop('Genre', axis=1, inplace=True)

In [45]:
df_books = df_books.drop('Year', axis =1).head(3)

In [46]:
df_books

,Name,Author,User Rating,Reviews,Price
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8
1,11/22/63: A Novel,Stephen King,4.6,2052,22
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15

In [48]:
df_books['Nueva columna'] = np.nan
df_books

,Name,Author,User Rating,Reviews,Price,Nueva columna
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,NaN
1,11/22/63: A Novel,Stephen King,4.6,2052,22,NaN
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,NaN

In [49]:
data = np.arange(0, df_books.shape[0])

In [50]:
df_books['Rango'] = data

In [51]:
df_books

,Name,Author,User Rating,Reviews,Price,Nueva columna,Rango
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,NaN,0
1,11/22/63: A Novel,Stephen King,4.6,2052,22,NaN,1
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,NaN,2

In [55]:
df_books.append(df_books)

AttributeError: 'DataFrame' object has no attribute 'append'